* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    background-color: black;
    color: white;
    
}
html,
body {
    height: 100%;
    width: 100%;
}

button{
    margin: 20px;
    padding: 20px;
    font-size: 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    
}