* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    background-color: black;
    color: white;

}
html,
body {
    height: 100%;
    width: 100%;
    padding: 4px;
    margin: 5px;
}